.nav{
    background-color: #E0CFCC;
}
.row {
    display: flex;
    justify-content: space-around;
    margin: 5% auto auto auto;
}
.col-sm {
    display:flex;
    justify-content: center;
}

.btn-group{
    height: 50%;
    width: 53%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.card{
    width: 100%;
}