.body{
    background-color: #E0CFCC;
}
.nav{
    background-color: lightgray;
    border-radius: 0 0 40px 40px;
}
.row {
    display: flex;
    justify-content: space-around;
    margin: 5% auto auto auto;
}
.col-sm {
    display:flex;
    justify-content: center;
}

.btn-group{
    height: 20%;
    width: 40%;
}

.card{
    width: 70%;
}