.body{
    background-color: #E0CFCC;
}
.nav{
    background-color: cornflowerblue;
}
.row {
    display: flex;
    justify-content: space-around;
    margin:auto;
}
.col-sm {
    display:flex;
    justify-content: center;
}
.btn-group{
    height: 50%;
}
.card{
    width: 100%;
}